In [8]:
df.columns

Index(['Tweet ID', 'Username', 'Tweet', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
import re
import pandas as pd
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
tweets_file = 'tweets main.xlsx'
df = pd.read_excel(tweets_file)

def clean_tweet(tweet):
    # Remove URLs
    tweet = re.sub(r"http\S+|www\S+|pic.twitter.com\S+", "", tweet)
    # Remove hashtags
    tweet = re.sub(r'#\w+', '', tweet)
    # Remove emoticons
    tweet = re.sub(r'[\U0001F600-\U0001F64F\U0001F300-\U0001F5FF\U0001F680-\U0001F6FF\U0001F700-\U0001F77F\U0001F780-\U0001F7FF\U0001F800-\U0001F8FF\U0001F900-\U0001F9FF\U0001FA00-\U0001FA6F\U0001FA70-\U0001FAFF\U00002702-\U000027B0\U00002639]', '', tweet)
    # Remove special characters except '@'
    tweet = re.sub(r'[^\w\s@]', '', tweet)
    # Convert to lowercase
    tweet = tweet.lower()
    # Remove stopwords
    tweet = ' '.join(word for word in tweet.split() if word not in stop_words)
    return tweet

df['Tweet'] = df['Tweet'].apply(clean_tweet)
df.drop(columns=['Unnamed: 3','Unnamed: 4'], inplace=True)
print(df)

cleaned_tweets_file = 'cleaned_tweets.xlsx'
df.to_excel(cleaned_tweets_file, index=False)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sweth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                  Tweet ID           Username  \
0      1752234802621600000     innisfree1962
1      1751880650758429952    TransportForWM
2      1751867869720140032   CllrTimHuxtable
3      1751258888144329984    TransportForWM
4      1751744628653530112    MichaelBev2000
...                    ...                ...
27777   943749472982589440      donaldorossi
27778   943749368083075072    ShereenCassidy
27779   943748842696126465      charttopper1
27780   943748635367563264           Dwarfio
27781   943748484007677952    CrossCountryUK

                                                   Tweet
0      @westmidrailway @andy4wm @wmrailexecutive @tra...
1      @bigsprouttalent hi simon kings norton rail st...
2      aslef industrial action affecting @westmidrail...
3      aslef industrial action announced end january ...
4      diamond west midlands @diamondbuses wright str...
...                                                  ...
27777  @crosscountryuk think love guys cant wait see ...
27778  @crosscountryuk dont tickets went barriers boo...
27779          @crosscountryuk new times trains saturday
27780  news @_arrowsolutions teams bombardier deliver...
27781  @30tabbie services today running normal yes so...

[27782 rows x 3 columns]

In [2]:
import re
import pandas as pd

tweets_file = 'tweets main.xlsx'
df = pd.read_excel(tweets_file)

def clean_tweet(tweet):
    # Remove URLs
    tweet = re.sub(r"http\S+|www\S+|pic.twitter.com\S+", "", tweet)
    # Remove hashtags
    tweet = re.sub(r'#\w+', '', tweet)
    # Remove emoticons
    #tweet = re.sub(r'[\U0001F600-\U0001F64F\U0001F300-\U0001F5FF\U0001F680-\U0001F6FF\U0001F700-\U0001F77F\U0001F780-\U0001F7FF\U0001F800-\U0001F8FF\U0001F900-\U0001F9FF\U0001FA00-\U0001FA6F\U0001FA70-\U0001FAFF\U00002702-\U000027B0\U00002639]', '', tweet)
    # Remove special characters except '@'
    #tweet = re.sub(r'[^\w\s]', '', tweet)
    # Convert to lowercase
    tweet = tweet.lower()
    return tweet

df['Tweet'] = df['Tweet'].apply(clean_tweet)
df.drop(columns=['Unnamed: 3','Unnamed: 4'], inplace=True)
print(df)

cleaned_tweets_file = 'cleaned_tweets_with emoji.xlsx'
df.to_excel(cleaned_tweets_file, index=False)

                  Tweet ID           Username  \
0      1752234802621600000     innisfree1962
1      1751880650758429952    TransportForWM
2      1751867869720140032   CllrTimHuxtable
3      1751258888144329984    TransportForWM
4      1751744628653530112    MichaelBev2000
...                    ...                ...
27777   943749472982589440      donaldorossi
27778   943749368083075072    ShereenCassidy
27779   943748842696126465      charttopper1
27780   943748635367563264           Dwarfio
27781   943748484007677952    CrossCountryUK

                                                   Tweet
0       @westmidrailway @andy4wm @wmrailexecutive @tr...
1       @bigsprouttalent hi simon,  kings norton rail...
2       ‚ùóaslef industrial action affecting @westmidra...
3       üöÜ‚ùóaslef industrial action has been announced ...
4       diamond west midlands (@diamondbuses) wright ...
...                                                  ...
27777   @crosscountryuk think i love you guys.... can...
27778   @crosscountryuk i don't have my tickets as th...
27779   @crosscountryuk when you have the new times f...
27780    news: @_arrowsolutions teams up with bombard...
27781   @30tabbie services today are running as norma...

[27782 rows x 3 columns]

In [14]:
import pandas as pd

df = pd.read_excel('cleaned_tweets.xlsx')
df['Tweet'] = df['Tweet'].astype(str)
tocs = ['tfl', 'scot rail', 'west midlands', 'cross country', 'avanti west coast', 'mersey rail','east midlands']
username=['AvantiWestCoast','tfl','ScotRail','WestMidlandRail','CrossCountryUK','merseyrail', 'EastMidRailway']
def extract_toc(tweet):
    tweet = tweet.lower()
    for user in username:
        if user.lower() in tweet:
            return user
    for toc in tocs:
        if toc.lower() in tweet:
            return toc
    if 'emr' in tweet or 'east midlands' in tweet or 'eastmidrailway' in tweet:
        return 'east midlands railway'
    if 'west midlands' in tweet or 'westmidrailway' in tweet:
        return 'west midlands railway'
    if 'avantiwestcoast' in tweet or 'avanti west coast' in tweet:
        return 'avanti west coast'
    if 'scotrail' in tweet or 'scot rail' in tweet:
        return 'scot rail'
    if 'crosscountryuk' in tweet or 'cross country' in tweet or 'crosscountry' in tweet:
        return 'cross country'
    if 'merseyrail' in tweet or 'mersey rail' in tweet:
        return 'mersey rail'
    return None

df['TOC'] = df.apply(lambda row: extract_toc(row['Tweet']), axis=1)
df['TOC'] = df['TOC'].ffill()
print(df)
sorted_tweets_file = 'sorted_tweets.xlsx'
df.to_excel(sorted_tweets_file, index=False)

                  Tweet ID           Username  \
0      1752234802621600000     innisfree1962
1      1751880650758429952    TransportForWM
2      1751867869720140032   CllrTimHuxtable
3      1751258888144329984    TransportForWM
4      1751744628653530112    MichaelBev2000
...                    ...                ...
27777   943749472982589440      donaldorossi
27778   943749368083075072    ShereenCassidy
27779   943748842696126464      charttopper1
27780   943748635367563264           Dwarfio
27781   943748484007677952    CrossCountryUK

                                                   Tweet             TOC
0      @westmidrailway @andy4wm @wmrailexecutive @tra...   west midlands
1      @bigsprouttalent hi simon kings norton rail st...   west midlands
2      aslef industrial action affecting @westmidrail...   west midlands
3      aslef industrial action announced end january ...   west midlands
4      diamond west midlands @diamondbuses wright str...   west midlands
...                                                  ...             ...
27777  @crosscountryuk think love guys cant wait see ...  CrossCountryUK
27778  @crosscountryuk dont tickets went barriers boo...  CrossCountryUK
27779          @crosscountryuk new times trains saturday  CrossCountryUK
27780  news @_arrowsolutions teams bombardier deliver...  CrossCountryUK
27781  @30tabbie services today running normal yes so...  CrossCountryUK

[27782 rows x 4 columns]

In [16]:
import pandas as pd
df = pd.read_excel('sorted_tweets.xlsx')
df['TOC'] = df['TOC'].ffill()
print (df.head)

<bound method NDFrame.head of                   Tweet ID           Username  \
0      1752234802621600000     innisfree1962
1      1751880650758429952    TransportForWM
2      1751867869720140032   CllrTimHuxtable
3      1751258888144329984    TransportForWM
4      1751744628653530112    MichaelBev2000
...                    ...                ...
27777   943749472982589440      donaldorossi
27778   943749368083075072    ShereenCassidy
27779   943748842696126464      charttopper1
27780   943748635367563264           Dwarfio
27781   943748484007677952    CrossCountryUK

                                                   Tweet             TOC
0      @westmidrailway @andy4wm @wmrailexecutive @tra...   west midlands
1      @bigsprouttalent hi simon kings norton rail st...   west midlands
2      aslef industrial action affecting @westmidrail...   west midlands
3      aslef industrial action announced end january ...   west midlands
4      diamond west midlands @diamondbuses wright str...   west midlands
...                                                  ...             ...
27777  @crosscountryuk think love guys cant wait see ...  CrossCountryUK
27778  @crosscountryuk dont tickets went barriers boo...  CrossCountryUK
27779          @crosscountryuk new times trains saturday  CrossCountryUK
27780  news @_arrowsolutions teams bombardier deliver...  CrossCountryUK
27781  @30tabbie services today running normal yes so...  CrossCountryUK

[27782 rows x 4 columns]>